<div class="ui left aligned transparent category search">
    <div class="ui icon transparent inverted input">
        <input class="prompt" type="text" placeholder="Film oder TV-Serie finden" />
        <i class="search icon"></i>
    </div>

    <div class="results transition">

        <!-- search results movies -->
        <div class="category">
            <div class="name">
                <p>Movies</p>
                <small class="ui blue mini label">300</small>
            </div>

            <div class="results transition">
                <a class="result">
                    <div class="content">
                        <div class="title">Title</div>
                        <small class="ui mini basic label">
                            <i class="yellow star icon"></i>
                            6.00
                        </small>
                    </div>
                    <div class="description">
                        <small>10.10.2020</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

