<div class="ui teaser card">
    <div class="image">
        <img v-if="!SingleMovie.backdrop_path" src="../../assets/not-available.png" alt=""/>
        <img v-else :src="'http://image.tmdb.org/t/p/w780/'+SingleMovie.backdrop_path"/>

        <div class="ui top right attached label" v-if="getType" :class="getType==='movie' ? 'blue' : 'teal'">
            featured {{getType==='movie' ? 'Movie' : 'TV-Show'}} today
        </div>
    </div>
    <div class="ui container content">
        <h5 class="ui sub header">
            GENRE: <span v-for="(element,index) in SingleMovie.genres">{{element.name}} {{index+1 < SingleMovie.genres.length ? " / " : ""}}</span>
            <div class="rating">
                <span>Rating:&nbsp;</span>
                <i class="yellow star icon"></i>
                <small class="ui label">{{SingleMovie.vote_average}}</small>
            </div>
        </h5>
        <div class="ui feed">
            <div class="event">
                <div class="content">
                    <h2>{{SingleMovie.original_title ? SingleMovie.original_title : SingleMovie.original_name}}</h2>
                    <span class="releaseDate"><strong>Erschienen: </strong>{{getFormatedDate(SingleMovie.release_date)}}</span>
                </div>
            </div>
            <div class="event" v-if="SingleMovieCast.cast">
                <div class="content">
                    <div class="summary">
                        <h3 class="ui header">Cast:</h3>
                        <div class="ui grid" v-bind:class="{'scroller': SingleMovieCast.cast.length > 4}">
                            <div class="four wide column cast" v-for="element in SingleMovieCast.cast">
                                <span class="header">{{element.character}}</span><br/>
                                <span class="meta">{{element.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer">
            <div class="content">
                <h3 class="ui header">Webseite:</h3>
                <p><a href="{{SingleMovie.homepage}}" target="_blank">{{SingleMovie.homepage}}</a></p>
            </div>
        </div>

        <router-link class="ui fluid light button" :to="{ name: 'details', params: {mediatype:getType, id:movieNumber} }">
            <i class="add icon"></i> Weitere Informationen
        </router-link>
    </div>


    <div class="ui teaser card" v-if="!SingleMovie">
        <div class="ui container content">
            <div class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <img class="ui wireframe image" src="../../assets/not-available.png">
        </div>
    </div>
</div>
